.flashy {
  color: red;
  font-style: italic;
  font-size: 40px;
}
h1 {
  font-size: 80px;
}
a {
  font-size: 30px;
}
ul {
  font-size: 30px;
  font-family: serif;
  color: purple;
}
.best {
  width: 40%;
  float: left;
  font-size: 30px;
  font-family: serif;
  color: purple;
  border: 5px solid purple;
  padding: 10px;
  margin-right: 50px;
  clear: both;

}
.bold {
  font-weight: bold;
}
.menusize {
  height: 240px;
}
.columns {
  float: left;
  width: 300px;
  background-color: pink;
}
.clear {
  clear: both
}
